:root {
  --page-padding-x: calc(
    (100vw - min(80vw, 120ch)) / 2
  );
}

html, body {
  margin: 0;
  padding: 0;
  background: #333;
}

/* https://stripesgenerator.com  */
body {
  background-image: linear-gradient(45deg, #98CD8D 2.38%, #F6F0CF 2.38%, #F6F0CF 50%, #98CD8D 50%, #98CD8D 52.38%, #F6F0CF 52.38%, #F6F0CF 100%);
background-size: 29.70px 29.70px;
}

section {
  
  padding-right: var(--page-padding-x);
  padding-left: var(--page-padding-x);
}

.map {
  position: relative;
  outline: 1px solid mediumaquamarine;
  width: 100%;
  /* aspect-ratio: 960 / 700; */
  aspect-ratio: 960 / 600;
}

#current {
  position: absolute;
  color: white;
  font-family: sans-serif;
  left: 1ch;
  top: 1ch;
  margin: 0;
  z-index: 1;
  color: red;
}

.map canvas {
  width: 100%;
  height: auto;
  outline: 1px solid blue;
  display: block;
}